@import "tailwindcss";

:root {
  --background: #FAF9F7;
  --foreground: #171717;
  --menu: #FAF9F7;

  --toggle-button-bg: #ffffff;
  --toggle-button-btn: #ffffff;
  --navbar-bg: #262626;
}

.dark {
  --background: #212121;
  --foreground: #ffffff;
  --menu: #171717;

  --toggle-button-bg: #070707;
  --toggle-button-btn: #1a1a1a;
  --navbar-bg: #ffff;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.font-body {
  font-family: var(--font-libre-baskerville), serif;
}

.font-dior {
  font-family: var(--font-playfair), serif;
  letter-spacing: .5px;
}

.font-pagetitle {
  font-family: var(--font-libre-baskerville), serif;
  font-weight: 0;
  letter-spacing: -0.02em;
}

.luxury-select .ant-select-selector {
  background: transparent !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: 0 !important;
  padding-left: 0 !important;
}

.collection-bg {
  background-image: url("/images/flowers_bloom_bg.jpeg");
  background-repeat: repeat;
  background-color: #ffffff;
}

.dark .collection-bg {
  background-image: url("/images/flowers_bloom_bg_dark.jpeg");
  background-color: #0f0f0f;
}

.input {
  @apply w-full border border-neutral-300 px-4 py-3 text-sm focus:outline-none focus:ring-1 focus:ring-black transition;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}