@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --toggle-button-bg: #ffffff;
  --toggle-button-btn: #ffffff;
}

.dark {
  --background: #212121;
  --foreground: #ffffff;
  --toggle-button-bg: #070707;
  --toggle-button-btn: #1a1a1a;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.font-body {
  font-family: var(--font-libre-baskerville), serif;
}

.font-pagetitle {
  font-family: var(--font-libre-baskerville), serif;
  font-weight: 0;
  letter-spacing: -0.02em;
}
